You're now following "<%= @post.title %>", you will be notified of all comments. If you dont wish to recieve further notifications unfavourite your <%= link_to "post", topic_post_url@post.topic, @post) %>.</h1>
<p>
  <%= link_to "view Post on site", topic_post_url(@post.topic, @post) %>
